body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
  background-color: #f4f4f4;
  min-height: 100vh;
  padding: 20px;
}

.register-form {
  background: white;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.register-form h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.register-form p {
  margin-bottom: 20px;
  color: #555;
}

.register-form form {
  display: flex;
  flex-direction: column;
}

.register-form input,
.register-form select,
.register-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: vertical;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.register-form input:focus,
.register-form select:focus,
.register-form textarea:focus {
  border-color: #3db5de;
  outline: none;
}

.register-form button {
  width: 100%;
  padding: 12px;
  background-color: #3db5de;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-form button:hover {
  background-color: #269fc9;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: #3db5de;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.register-form input::placeholder,
.register-form textarea::placeholder {
  color: #999;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.register-form textarea {
  font-family: Arial, sans-serif;
}

/* Estilo para inputs com unidades (anos, kg, cm) */
.input-with-unit {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}

.input-with-unit input {
  width: 100%;
  padding: 10px 30px 10px 10px; /* padding à direita para a unidade */
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.input-with-unit input:focus {
  border-color: #3db5de;
  outline: none;
}

.input-with-unit .unit {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #888;
  font-size: 12.5px;
  pointer-events: none;
}
