.sidebar {
background-color: white;
width: 220px;
height: 100vh;
padding: 20px;
border-right: 2px solid #dce3e9;
display: flex;
flex-direction: column;
justify-content: space-between;
position: fixed;
left: 0;
top: 0;
bottom: 0;
box-sizing: border-box;
z-index: 10;
}

.logo {
font-size: 24px;
font-weight: bold;
color: #3db5de;
margin-bottom: 0;
}



.sidebar nav {
  margin-top: 10px; /* ← aqui está o espaçamento entre logo e menu */
}


.sidebar nav ul {
list-style: none;
padding: 0;
margin: 0;
}



.sidebar nav li {
padding: 10px;
border-radius: 8px;
cursor: pointer;
display: flex;
align-items: center;
gap: 8px;
}

.sidebar nav li.active,
.sidebar nav li:hover {
background-color: #f3f4f6;
font-weight: bold;
}

.logout {
font-size: 14px;
color: #888;
padding: 10px;
cursor: pointer;
border-top: 1px solid #eee;
margin-top: 20px;
}

.top-section {
  display: flex;
  flex-direction: column;
}

.material-symbols-outlined {
  font-size: 20px;
  margin-right: 8px;
  vertical-align: middle;
}


.sidebar ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: inherit;
  text-decoration: none;
  padding: 8px;
}

.sidebar ul li a:hover {
  background-color: #f2f2f2;
  border-radius: 5px;
}
